.button__toggler {
  position: relative;
  z-index: 100;
  border: none;
  display: none;
  background-image: url("/img/gamburger.svg");
  padding: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

@include breakpoint-down (670) {
  .button__toggler {
    display: block;
  }
}