.record {
  padding: 100px 0 50px 0;
}

.record__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.record__img {
  display: block;
  width: 544px;
  height: 408px;
}

.record__box {
  max-width: 416px;
  width: 100%;
}

.record__heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 38px;
  line-height: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  max-width: 371px;
}

.record__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 32px;
  max-width: 370px;
  color: $user-text-color;
}

.record__tick-text {
  margin: 0;
  font-size: 17px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.64);
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 14px;
    margin-right: 8px;
    background-image: url("/img/tick-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.record__tick-text:nth-last-child(2) {
  margin-bottom: 20px;
}

.record__link-wrapper {
  display: flex;
}

.record__link {
  padding: 10px 30px 10px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 48px;
  font-family: "Roboto", sans-serif;
  color: #FFF8EE;
  background: $blue;
  border: 2px solid $blue;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $white;
    color: $blue;
  }

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-image: url("/img/google-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

// media
@include breakpoint-down (1015) {
  .record__box {
    margin-left: 15px;
  }
}

@include breakpoint-down (880) {
  .record__img {
    width: 444px;
    height: 308px;
  }
}

@include breakpoint-down (750) {
  .record__heading {
    font-size: 28px;
    line-height: 24px;
  }

  .record__tick-text {
    font-size: 15px;
    line-height: 18px;
  }

  .record__link {
    font-size: 15px;
    line-height: 18px;
  }
}

@include breakpoint-down (718) {
  .record__img {
    width: 400px;
    height: 275px;
  }
}

@include breakpoint-down (675) {
  .record__wrapper {
    flex-direction: column;
  }

  .record__img {
    width: 544px;
    height: 408px;
  }

  .record__heading {
    font-size: 38px;
    line-height: 44px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .record__text {
    max-width: 100%;
    text-align: center;
    line-height: 22px;
  }

  .record__tick-text {
    text-align: center;
  }

  .record__link {
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down (500) {
  .record__img {
    width: 344px;
    height: 208px;
  }
}
